
.channel-wrap.is-ver{padding:2.6666666666666665vw;height:calc(100vh - 11.733333333333333vw);font-size:0;overflow-y:auto}.channel-wrap.is-hoz{overflow-x:auto;overflow-y:hidden}.channel-wrap.is-hoz .channel-list{white-space:nowrap}
