
.detail-audio{padding:0 0.17rem}.detail-audio__subtitle{padding-top:0.2rem;font-size:0.16rem;color:#333;font-weight:700}.detail-audio__text{text-indent:2em;line-height:0.27rem;font-size:0.16rem;color:#333}
