
.download-guide{font-size:10PX;padding-left:12PX;line-height:28PX;color:#999;border-top:0.06666666666666667vw solid #e7e7e7}.download-guide swan-text{display:inline;vertical-align:middle}.download-guide .link{color:#fb7299;display:inline;vertical-align:middle}
