/* 颜色目录变量start */

/* 颜色目录变量end */

/* 用 ::before 为元素增加更大的可点击区域*/

/* 阴影变量start */.shadow{box-shadow:0 0.5333333333333333vw 1.3333333333333333vw 0 rgba(0,0,0,0.05);-moz-box-shadow:0 0.5333333333333333vw 1.3333333333333333vw 0 rgba(0,0,0,0.05);
  /*firefox*/-webkit-box-shadow:0 0.5333333333333333vw 1.3333333333333333vw 0 rgba(0,0,0,0.05)
  /*webkit*/}

/* 阴影变量end */

/* 主色 */.main-color{color:#3072f6}

/* 辅助信息字体color */.sub-info-color{color:#999999}

/* 暗文提示字体color */.tip-color{color:#cccccc}

/* 深色背景字体color */.light-color{color:#ffffff}

/* 价格&错误提示color */.red-color{color:#fa5741}

/* 通用按钮样式 */.common-btn{margin:0 6.4vw;height:13.333333333333334vw;line-height:13.333333333333334vw;text-align:center;border-radius:1.3333333333333333vw;font-size:4.8vw}.common-btn::after{border:none}.common-btn-normal{background:#3072F7;color:#fff}.common-btn-normal.common-btn-disable{background:#ACC5FB}.common-btn-white{background:#fff;color:#2F73F6;border:0.5px solid #3072F6}.common-btn-light{background:rgba(48,114,247,0.05);color:#3072F7}.common-btn-light-press{background:rgba(48,114,247,0.1)}

/*字体变量start*/.font-D{font-family:"DIN Condensed"}@font-face{font-family:"DIN Condensed";src:url('https://s1.ljcdn.com/link-static/resource/wxapp/DIN_Condensed_Bold.ttf') format('truetype')}.font-B{font-family:"DIN Bold"}@font-face{font-family:"DIN Bold";src:url('https://s1.ljcdn.com/siris/DIN-Bold.otf') format('truetype')}.font-P{font-family:"Ping Fang"}.font-Sb{font-family:PingFangSC-Semibold}

/*字体变量end*/

/*常用整体padding*/.pd-all{padding:0 6.4vw}

/*常用整体padding*/

/* 阴影变量start */.shadow{box-shadow:0 0.5333333333333333vw 1.3333333333333333vw 0 rgba(0,0,0,0.05);-moz-box-shadow:0 0.5333333333333333vw 1.3333333333333333vw 0 rgba(0,0,0,0.05);
  /*firefox*/-webkit-box-shadow:0 0.5333333333333333vw 1.3333333333333333vw 0 rgba(0,0,0,0.05)
  /*webkit*/}

/* 阴影变量end */

/*按钮start*/.base-btn::after{border:none}swan-button::after{border:none}.btn-large{font-size:4.8vw;font-family:PingFangSC-Semibold;font-weight:bold;border-radius:1.3333333333333333vw;line-height:12.8vw;height:12.8vw;text-align:center}.btn-small{font-size:3.2vw;font-family:PingFangSC-Semibold;font-weight:bold;border-radius:0.5333333333333333vw;line-height:7.466666666666667vw;height:7.466666666666667vw;min-width:17.066666666666666vw;padding:0 2.1333333333333333vw;text-align:center}.btn-blue{background:#3072F6;color:#FFFFFF}.btn-green{background:#3BC48B;color:#FFFFFF}.btn-grey{background:#F8F8F8;color:#222222}.btn-blue-button-hover{background-color:#2B66DC}.btn-green-button-hover{background-color:#34B07C}.btn-grey-button-hover{background-color:#EAF0FE}.btn-blue-button-disabled{background-color:#ACC6FB}.btn-green-button-disabled{background-color:#B0E7D0}.btn-grey-button-disabled{background-color:#EAF0FE}.btn-blue-button-choose{background-color:#FFFFFF;color:#3072F6;border:0.4vw solid #3072F6}.btn-green-button-choose{background-color:#FFFFFF;color:#3BC48B;border:0.4vw solid #3BC48B}

/*按钮end*/

/* 数字红点start*/.reddot{font-size:2.6666666666666665vw;background:#FA5741;display:inline-block;color:#FFFFFF;min-width:2.4vw;font-family:PingFangSC-Semibold;padding:1.0666666666666667vw 1.3333333333333333vw;border:0.26666666666666666vw solid #FFFFFF;border-radius:6.666666666666667vw;box-sizing:border-box;vertical-align:middle;text-align:center;line-height:1.8666666666666667vw}

/* 红点/角标end*/

/* 分割线start */.hr{height:0.26666666666666666vw;border:none;background:#F0F0F0}.split-line-top{border-top:0.5px solid #F0F0F0}.split-line-bottom{border-bottom:0.5px solid #F0F0F0}

/* 分割线end */.big-number{font-size:10.133333333333333vw;font-family:"DIN Condensed"}@font-face{font-family:"DIN Condensed";src:url('https://s1.ljcdn.com/link-static/resource/wxapp/DIN_Condensed_Bold.ttf') format('truetype')}.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.zyx{}

/* 颜色目录变量start */

/* 颜色目录变量end */

/* 用 ::before 为元素增加更大的可点击区域*/

/* 阴影变量start */

/* 阴影变量end */

/* 主色 */

/* 辅助信息字体color */

/* 暗文提示字体color */

/* 深色背景字体color */

/* 价格&错误提示color */

/* 通用按钮样式 */

/*字体变量start*/

/*字体变量end*/

/*常用整体padding*/

/*常用整体padding*/

/* 阴影变量start */

/* 阴影变量end */

/*按钮start*/

/*按钮end*/

/* 数字红点start*/

/* 红点/角标end*/

/* 分割线start */

/* 分割线end */.gray-style{filter:grayscale(100%)}.gray-style-bottom{position:fixed;bottom:0;filter:grayscale(100%)}.index-wrap{color:#222222;padding-bottom:13.333333333333334vw}.index-wrap.ipx{padding-bottom:22.666666666666668vw}.index-optimize{position:fixed;top:33%;left:0;right:0}.index-optimize-icon{width:44.53333333333333vw;height:44.53333333333333vw;position:absolute;top:-22.266666666666666vw;left:50%;transform:translateX(-22.266666666666666vw)}.index-optimize-text{position:absolute;top:26.666666666666668vw;left:0;right:0;font-family:PingFangSC-Regular;font-size:4.266666666666667vw;color:#999999;letter-spacing:0;text-align:center;line-height:5.333333333333333vw;padding:0 10.666666666666666vw}.index-optimize-refresh{position:absolute;top:38.666666666666664vw;left:50%;transform:translateX(-8.533333333333333vw);background:#FFFFFF;border:0.26666666666666666vw solid #3072F6;border-radius:1.3333333333333333vw;color:#3072F6;width:17.066666666666666vw;height:7.466666666666667vw;line-height:7.466666666666667vw;font-family:PingFangSC-Semibold;font-size:3.2vw}.modules-wrap{margin-bottom:8.533333333333333vw}.modules-wrap .title{font-size:5.333333333333333vw;line-height:5.866666666666666vw;font-weight:bold;margin-bottom:4.266666666666667vw}.modules-wrap-ball{margin-bottom:6.4vw}.bottombar-box{width:100%;height:12.8vw;overflow:hidden}.bottombar-box.ipx{padding-bottom:22.666666666666668vw}.zyx{}