/**app.css**/

/* @import "./wxParse/wxParse.css"; */*{font-family:-apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC",SimSun,sans-serif;font-size:100%;font-weight:400;outline:none;margin:0;padding:0;border:0;vertical-align:baseline}.publicShadow{width:100%;height:100%;background-color:#000;opacity:0.4;position:fixed;top:0;left:0;right:0;bottom:0;z-index:100}swan-radio{transform:scale(.8)}
