
.detail-wrap{padding:0.1rem 0.1rem 0}.c-white-bg{background:#FFFFFF;border-radius:0.08rem}.title{padding:0.11rem 0 0.12rem 0.13rem}.bottom-text{margin-top:2.19rem;padding-bottom:0.3rem;font-size:0.14rem;color:#999;text-align:center}
