
.wrapper{padding-left:0.17rem;padding-right:0.17rem}.body-wrapper{background:#f5f5f5;min-height:100vh}.m-tab{height:41px;position:relative;z-index:100}.m-tab .inner{position:fixed;z-index:10;left:0;right:0;border-bottom:1px solid #f1f1f1;background:#fff}.content-wrapper .list-loading{background:none}
